@model Cafe.Waiter.Queries.DAL.Models.TabDetails

@{
    ViewBag.Title = "Tab Details";
}

<h2>Tab Details</h2>
<h4>Table: @Model.TableNumber</h4>
<h5>Waiter: @Model.Waiter</h5>
<table class="table">
    <thead>
    <tr>
        <td>Menu Item</td>
        <td>Name</td>
        <td>Price</td>
        <td>Notes</td>
    </tr>
    </thead>
    @foreach (var tabItem in Model.Items)
    {
        <tr>
            <td>@tabItem.MenuNumber</td>
            <td>@tabItem.Name</td>
            <td>@tabItem.Price</td>
            <td>@tabItem.Notes</td>
        </tr>
    }
</table>